<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<!--<add name="SqlConnectionString" connectionString="Data Source=159.253.36.240;Initial Catalog=banka_db;User ID=banka_user;Password=@Yzq1w2e3" providerName="System.Data.SqlClient"/>-->
		<add name="SqlConnectionString" connectionString="Data Source=localhost;Initial Catalog=BankaHesapTakip;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.web>
		<sessionState timeout="30">
		</sessionState>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Yonetici/Giris.aspx"/>
		</authentication>
		<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false"/>
		<customErrors mode="Off"/>
	</system.web>
	<appSettings>
	<add key="net.mercanyazilim.LisansSorgulama" value="http://mercanyazilim.net/LisansSorgulama.asmx"/>
	</appSettings>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
</configuration>
